<div class="wrapper">
  <h4>{{title}}</h4>
  <div class="form-group">
    <label for="from">От</label>
    <input type="number" [(ngModel)]="data.fromMin" id="from">
    <label for="to">До</label>
    <input type="number" [(ngModel)]="data.toMin" id="to">
    <label for="to"> мин.</label>
  </div>
</div>
