.wrapper {
  margin: 5px;
  display: grid;
  grid-template-areas: 'coordinates coordinates'
                        'waiting remove';
  grid-template-columns: 3fr 1fr;

  border: 1px solid #777;
  border-radius: 30px;
  padding: 10px 20px;
}

.geo{
  font-size: 10px;
  grid-area: coordinates;
}

.geo span{
  margin-left: 10px;
  display: inline-block
}

.geo i{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.waiting{
  grid-area: waiting
}

.waiting input{
  width: 50px;
  display: inline-block;
  text-align: center;
}

.actions{
  grid-area: remove;
  text-align: center;
}

.remove{
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: none;
}
