<div class="wrapper">
  <span class="geo"><i class="mi mi-center-focus-strong"></i><span>{{data.point.lat}}, {{data.point.lon}}</span></span>
  <div class="waiting">
    <label for="waiting">Ожидание</label>
    <input id="waiting" [(ngModel)]="data.waitingTimeMin" type="text">
    <label for="waiting">мин</label>
  </div>
  <div class="actions">
    <button (click)="remove.emit()" class="mi mi-delete remove"></button>
  </div>
</div>
