<div class="wrapper">
  <h2>Генератор треков</h2>

  <div class="form">
    <app-text-input [data]="request.carNumber" (dataChanged)="request.carNumber = $event" title="Номер автомобиля"></app-text-input>
    <app-number-input [data]="request.maxSpeed" (dataChanged)="request.maxSpeed = $event" title="Максимальная скорость"></app-number-input>
    <app-datetime-input [data]="request.beginDatetime" (dateChange)="request.beginDatetime = $event" title="Дата и время начала построения"></app-datetime-input>
    <app-range-input [data]="request.beginWaiting" title="Ожидание в начале"></app-range-input>
    <app-range-input [data]="request.intermediateWaiting" title="Ожидание в промежуточных точках"></app-range-input>

    <div class="duration"
         *ngIf="summaryDuration > 0"
         [class.error]="overtime"
    ><span>Время в пути: </span>{{summaryDuration | date : 'HH:mm:ss' : 'UTC'}}
    <p *ngIf="overtime">Превышен лимит времени !!!</p>
    </div>

    <button [disabled]="!valid" (click)="getTrack()">Получить трек</button>

  </div>

  <div class="map">
    <app-osm-view height = '500px' [points]="points" [polyline]="polyline"
      (addPoint)="addPoint($event)"
    ></app-osm-view>
  </div>

  <div class="route">
    <h3>Маршрут</h3>
    <app-geo-point-input *ngFor="let point of request.routePoints"
                         [data]="point"
                         title="Точка маршрута"
                         (remove)="removePoint(point.point)"
    ></app-geo-point-input>

  </div>


</div>
