.wrapper{
  display: grid;
  grid-template-areas: 'header  header'
                        'form   map'
                        'route  route';
  grid-template-columns: 400px 1fr;
  margin: 30px;
}

h2{
  grid-area: header;
}

.form{
  grid-area: form;
  padding: 30px;
  text-align: center;
}

.form button{
  background: none;
  border: solid 2px #000;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.form button:disabled {
  border-color: #ccc
}

.map{
  grid-area: map;
}

.route {
  grid-area: route;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.duration{
  margin: 20px
}

.duration.error{
  color: #ff4444;
}
